*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card:nth-child(1):hover {
    background-color: #ff5622; 
  }

.container .card:nth-child(2):hover {
    background-color: #1a707b;
  }
  
.container .card:nth-child(3):hover {
    background-color: #ff0000;
  }

.container .card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Pyramid Section */

.pyramid{
    position: absolute;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
    right: 150px;
    bottom: 200px;
}



.pyramid-2{
    position: absolute;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 50s linear infinite;
    left: 150px;
    top: 10px;
}

@keyframes animate
{
    0%
    {
        transform: rotateX(-30deg) rotateY(5deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.pyramid div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.pyramid-2 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.pyramid div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00ec00);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px) rotateX(30deg);
    transform-origin: bottom;
}

.pyramid-2 div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #ec0000);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px) rotateX(30deg);
    transform-origin: bottom;
}

.pyramid .glow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ec00;
    transform: rotateX(90deg) translateZ(-250px);
    filter: blur(30px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgba(0, 255, 0, 1);

}

.pyramid-2 .glow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ec0000;
    transform: rotateX(90deg) translateZ(-250px);
    filter: blur(30px);
    box-shadow: 0 0 120px rgba(255, 0, 0, 0.2),
    0 0 200px rgba(255, 0, 0, 0.4),
    0 0 300px rgba(255, 0, 0, 0.6),
    0 0 400px rgba(255, 0, 0, 0.8),
    0 0 500px rgb(255, 0, 0);
}

/* Home Button Section */

.home-button {
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Quicksand', sans-serif;
  }
  
  .home-button:hover {
    background-color: #ffffff10;
    color: #fff;
  }
